<div id="<%= dom_id book %>" class="card relative max-w-lg">
  <% unless controller_name == "books" && action_name == "show" %>
    <%= link_to "", book, class: "absolute top-0 left-0 w-full h-full" %>
  <% end %>
  <div class="text-center">
    <span class="inline-block max-w-[350px] rounded-md overflow-hidden">
      <% image = book.cover.attached? ? book.cover : 'cover-placeholder.webp' %>
      <%= image_tag image %>
    </span>
  </div>

  <h3><%= book.title %></h3>
  <% if book.author.present? %>
    <p>
      <%= t(".written_by", author: book.author.name) %>
    </p>
  <% end %>
</div>
