<div id="<%= dom_id book %>">
  <% if book.cover.attached? %>
    <p>
      <%= image_tag book.cover %>
    </p>
  <% end %>

  <p>
    <strong><%= Book.human_attribute_name(:title) %>:</strong>
    <%= book.title %>
  </p>

  <% if local_assigns[:show_details] == true %>
    <% if book.description.present? %>
      <p>
        <strong><%= Book.human_attribute_name(:description) %>:</strong>
        <%= book.description %>
      </p>
    <% end %>

    <% if book.year.present? %>
      <p>
        <strong><%= Book.human_attribute_name(:year) %>:</strong>
        <%= book.year %>
      </p>
    <% end %>

    <% if book.goodreads_url.present? %>
      <p>
        <strong><%= Book.human_attribute_name(:goodreads_url) %>:</strong>
        <%= book.goodreads_url %>
      </p>
    <% end %>
  <% end %>
</div>
