<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <%= render "shared/error_messages", resource: book %>
  <% end %>

  <div class="form-group">
    <%= form.label :cover, class: "form-label" %>
    <%= form.file_field :cover, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :author, class: "form-label" %>
    <%= form.select :author_id,
                    Author.all.map { |author| [author.name, author.id] },
                    { include_blank: true },
                    class: "form-control" %>
  </div>

  <div>
    <%= form.submit nil, class: "btn" %>
  </div>
<% end %>
