<%= form_with(model: book) do |form| %>
  <%= render("shared/errors", resource: book) if book.errors.any? %>

  <div class="form-group">
    <%= form.label :title, style: "display: block", class: "form-label" %>
    <%= form.text_field :title, class: "form-action" %>
  </div>

  <div>
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
