<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-controller="drawer" class="overflow-hidden">
    <div class="h-screen overflow-y-auto">
      <%= render "shared/drawer/toggle" %>

      <div class="container mx-auto px-3 pt-3 pb-24">
        <%= render "shared/flashes" %>
        <%= yield %>
        <%= render "shared/bottom_nav" %>
      </div>

      <%= render "shared/drawer/modal" %>
      <%= render "shared/drawer/backdrop" %>
    </div>
  </body>
</html>
